@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--primary-color);
  color: #000;
}

:root {
  --primary-color: #3aff7c;
  /* --primary-color: #5ea4ff; */
  --secondary-color: #212121;
  --tertiary-color: #0e0c0c;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0e0c0c; 
}

.hero-container {
  display: block;
  height: 100vh;
  background-color: #0e0c0c; 
}

.hero-container-masked {
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23508c80' fill-opacity='0.16'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-image: linear-gradient(180deg,#000 60%,transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  justify-content: center;  
  background-color: #000;
}

.navbar {
  height: 64px;
  position: fixed;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #000;
  font-size: 16px;  
  z-index: 2; 
}

.navbar ul li a {
  margin: 0px 1em;
  text-decoration: none;
  color: #B3B3B3;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600; 
}

.navbar ul li a:hover {
  color: #FFF;
}

.hero-container h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 120px;
  font-weight: 900;
  color: rgb(179, 179, 179);
  

}

.hero-container span {
  color: var(--primary-color);
}

.hero-button {
  width: 200px;
  height: 50px;
  background-color: #0e0c0c;
  border: 1px solid #fff;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  cursor: pointer;
  z-index: 0;
  box-shadow:  4px 4px 0 var(--primary-color);
  margin-bottom: 50px;
  transition: ease-in-out 0.3s;
}

.hero-button:hover {
  box-shadow: none;
  background-color: var(--primary-color);
  color: #000;
}

.shappeal {
  margin-top: 30px;
  font-size: 40px; 
  font-family: 'Open Sans', sans-serif;
  color: #fafafa;
  margin-bottom: 50px;  
}

.shappeal span {
  margin: 0 20px;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(239, 255, 253, 0.1);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}


.about {
  display: flex;
  padding-top: 240px;  
  align-items: center;
  margin-bottom: 300px;
}

.text-container-about {
  margin-right: 100px;
  margin-left: 120px;
}

.about img {
  border-radius: 40px;
  min-width: 400px;
  height: 400px;
  display: block;
  object-fit: cover;
  margin-right: 80px;
}


.about h1, .experience h1, .projects h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-color);
}

.experience h1 {
  text-align: center;
}

.projects h1  {
  text-align: center;
}



.about p {
  line-height: 1.8;
  font-size: 20px;
  font-family: 'Poppins', sans-serif; 
  color: #B3B3B3;
}

.about .line-with-diamond, .experience .line-with-diamond, .projects .line-with-diamond {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 220px;
  margin-bottom: 30px;
}

.experience .line-with-diamond {
  width: 250px;
  margin: auto;
  margin-bottom: 60px;
}

.projects .line-with-diamond {
  width: 250px;
  margin: auto;
  margin-bottom: 40px;
}

.projects {
  padding-top: 90px;
  margin-top: 150px;
}


.line-with-diamond::before,
.line-with-diamond::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #333;
}

.diamond {
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  transform: rotate(45deg);
  margin: 0 10px;
}

.about span {
  color: var(--primary-color);
  font-weight: 500;
}

.experience {
  margin-top: 150px;
  padding-top: 100px;
}

.experience-box {
  width: 200px;
  padding: 20px 25px;
  background-color: #141414;
}

.experience-box-left {
  width: 200px;
  padding: 20px 25px;
  margin-left: auto;
  background-color: #141414;
}

.experience-date {
  font-family: 'Rajdhani', sans-serif;
  color: #B3B3B3;
  font-weight: 600;
}

.experience-role {
  font-family: 'Poppins';
  font-size: 22px;  
  font-weight: 700;
  color: var(--primary-color);
}

.experience-company {
  font-size: 13px;
  color: #818181;
  
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
  justify-content: center;
}

.project {
  width: 400px;
  background: #151515;
  margin: 20px;
  border: 1px solid #2c2c2c;
}

.project img {
  width: 400px;
  border-radius: 20px;
  border: 1px solid #000;
}

.center-projects {
  display: flex;
  justify-content: center;
}

.project h3, .project p {
  padding: 0px 20px;
  padding-bottom: 10px;
}

.project h4 {
  margin-top: 30px;
  padding: 0px 20px;
  font-size: 16px;
  font-family: 'Rajdhani', sans-serif;
  color: #b3b3b3;
}

.project h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: #3aff7c;
}

.project p {
  font-family: 'Open Sans', sans-serif;
  color: #cfcfcf;
  line-height: 1.8;
}

.project p span {
  color: #3aff7c;
}




.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
  border-radius: 22px;
}

.one, .two, .three, .four, .five, .six {
  transition: all .1s;
  width: 430px;
}


.one img, .two img, .three img, .four img, .five img, .six img {
  margin-top: 20px;
}

.one > .border, .two > .border, .three > .border, .four > .border, .five > .border, .six > .border {
  transition: all .1s;
  background-color: #151515;
  height: 100%;
  width: auto;  
  display: flex;
  flex-direction: column;
  align-items: center;
}


.one .border:hover, .two .border:hover, .three .border:hover, .four .border:hover, .five .border:hover, .six .border:hover {
    transform: scale(0.98);
    border-radius: 20px;
   
}

.one span, .two span, .three span, .four span, .five span, .six span {
  font-weight: 600;
}

.one button, .two button, .three button, .four button, .five button, .six button {
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #000000;

  border: none;
  width: auto;
  height: 48px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one button a, .two button a, .three button a, .four button a, .five button a, .six button a {
  text-decoration: none;
  padding: 16px 32px;
  color: #f0efef;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
}




/* One specifics */

.one {
  background-image: linear-gradient(163deg, #f5c253 0%, #fc6f1e 100%);
}

.one span {
  color: #fbb24c !important;
}

.one h3 {
  color: #fbb24c;
}

.one:hover{
  box-shadow: 0px 0px 30px 1px rgba(245, 210, 10, 0.3);  
}

.one button {
  box-shadow: 5px 5px 0px #fbb24c;
}


/* Two specifics */

.two button {
  box-shadow: 5px 5px 0px #ff00f2;
}

.two h3 {
  color: #ff00f2;
}

.two:hover{
  box-shadow: 0px 0px 30px 1px rgba(225, 10, 245, 0.3);  
}

.two span {
  color: #ff00f2 !important;
}

.two {
  background-image: linear-gradient(163deg, #ff00aa 0%, #9800df 100%);
}


/* three specifics */

.three button {
  box-shadow: 2.5px 2.5px 0px #ed1c24,
  5px 5px 0px #0066b3;

}

.three h3 {
  color: #0066b3;
}

.three:hover{
  box-shadow: 0px 20px 30px 1px rgba(0, 110, 255, 0.3),
  0px -20px 30px 1px rgba(237, 28, 36, 0.3);  
}

.three span {
  color: #ed1c24 !important;
}

.three {
  background-image: linear-gradient(163deg, #ed1c24 0%, #0066b3 100%);
}


/* four specifics */

.four button {
  box-shadow: 5px 5px 0px #9c9e9d;

}

.four h3 {
  color: #fff;
}

.four:hover{
  box-shadow: 0px 0px 30px 1px rgba(255, 255, 255, 0.3);
}

.four span {
  color: #fff !important;
}

.four {
  background-image: linear-gradient(163deg, #423e3e 0%, #b9b8b8 100%);
}

.four img {
  height: 230px;
}


/* five specifics */

.five button {
  box-shadow: 5px 5px 0px #63b866;

}

.five h3 {
  color: #63b866;
}

.five:hover{
  box-shadow: 0px 0px 30px 1px #4ea5514d;
}

.five span {
  color: #63b866 !important;
}

.five {
  background-image: linear-gradient(163deg, #63b866 0%, #b6ee1c 100%);
}


/* four specifics */

.six button {
  box-shadow: 5px 5px 0px #1ebfff;

}

.six h3 {
  color: #1ebfff;
}

.six:hover{
  box-shadow: 0px 0px 30px 1px rgba(20, 161, 255, 0.3);
}

.six span {
  color: #1ebfff !important;
}

.six {
  background-image: linear-gradient(163deg, #1ebfff 0%, #0400ff 100%);
}

.six img {
  height: 230px;
}


@media (max-width: 1200px) {
  
  .text-container-about {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
  }

  .portrait {
    width: 75%;
    height: 600px !important;
  }
}


@media (max-width: 1000px) {
  .about {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .text-container-about {
    margin-left: 20px;
    margin-right: 20px;
  }

  .portrait {
    margin-left: auto;
    margin-right: auto !important;
    height: 400px !important;
  }

  .hero-button {
    width: 70%;
    padding: 30px 0;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-container h1 {
    font-size: 100px;
  }

  .project {
    margin-right: 0;
    margin-left: 0;
    width: 90%; 
  }

  .project img {
    margin-right: 0;
    margin-left: 0;
    width: 90%; 
  }
}

@media (min-width: 1600px) {
  .portrait {
    min-width: 600px !important;
    height: 600px !important;
  }
}


@media (min-width: 1800px) {
  .text-container-about {
    margin-left: 200px;
  }
}

@media (max-width: 1350px) {
  .hero-container-masked {
    -webkit-mask-image: none;
  }

  .shappeal ::marker {
    color: var(--primary-color);
  }

  .shappeal {
    font-size: 30px;
  }
}